body {
    margin: 0;
    background-color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    max-height: 100vh;
}

// could not use modern scss syntax because of pyscss limitations
@import "./abstracts/variables";
@import "./components/packs-modal";
@import "./components/game-end-modal";
@import "./components/header";
@import "./components/card";
@import "./components/top";
@import "./components/control-btns";
@import "./components/users";
@import "./components/hand";
