body {
    margin: 0;
    background-color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    max-height: 100vh;
}

// could not use modern scss syntax because of pyscss limitations
@import "./base/resets";

@import "./abstracts/variables";

@import "./components/modal";

@import "./layout/packs-modal";
@import "./layout/game-end-modal";
@import "./layout/header";
@import "./layout/card";
@import "./layout/top";
@import "./layout/control-btns";
@import "./layout/users";
@import "./layout/hand";
