.card {
    box-sizing: border-box;
    position: relative;

    height: $card-height;
    width: $card-width;
    padding: $card-padding;

    border-radius: $card-border-radius;
    font-size: $card-main-font-size;
    line-height: 140%;
    font-weight: bold;
    box-shadow: -3px 3px 14px -2px rgba(66, 68, 90, 1);

    img {
        display: inline-block;
        width: $card-icon-size;
        height: $card-icon-size;
    }

    &--white {
        color: black;
        background-color: white;

        img {
            content: url("../static/assets/black-card-icon.svg");
        }
    }

    &--black {
        color: white;
        background-color: black;

        img {
            content: url("../static/assets/white-card-icon.svg");
        }
    }

    &__pack {
        position: absolute;
        display: flex;
        align-items: center;

        gap: $card-height * 0.01;
        left: $card-padding;
        bottom: $card-padding;

        font-size: $card-height * 0.03;
    }
}
