.control-btns {
    margin: auto;
    margin-top: 16px;
    width: fit-content;

    button {
        padding: 8px;

        font-size: 1rem;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 8px;
        opacity: 0.6;
        cursor: not-allowed;

        &.active {
            opacity: 1;
            cursor: pointer;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    #open-packs-modal {
        background-color: #205fd3;
    }

    #submit-btn {
        background-color: #63d842;
    }

    #choose-btn {
        background-color: #ae42d8;
    }
}
