.error-stack {
    position: absolute;

    bottom: 32px;
    right: 32px;

    &__error {
        position: relative;

        padding: 16px;
        padding-right: 24px;
        margin-bottom: 8px;

        color: white;
        background-color: #d84242;
        font-size: 1.3rem;
        border-radius: 8px;
    }

    &__close {
        position: absolute;
        top: 4px;
        right: 8px;
        font-size: .8rem;
        cursor: pointer;
    }
}
