.winner-modal {
    h1 {
        margin-top: 0;
    }

    &__content {
        padding: 16px;

        background-color: #3ea721;
        color: white;
        border-radius: 16px;
    }

    &__cards {
        &>* {
            float: left;
            margin-right: 12px;
        }
    }
}
