<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Against Humanity</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <!-- <link rel=stylesheet type=text/css href="../static/style.css"> -->
    {% assets "scss" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script defer src="/static/main.js"></script>
</head>

<body>
    <header class="header">
        <span class="header__logo">Cards Against Humanity</span>
        <div style="flex-grow: 1;"></div>
        <span class="header__username-wrapper">
            <button id="edit-username">✏️</button>
            <input id="username-inp" type="text">
            <span class="header__username">{{user["nick"]}}</span>
        </span>
        <div class="header__avatar" style="--avatar:url('{{user['avatar']}}');"></div>
        <input style="display: none;" id="avatar-inp" type="file" accept="image/png, image/jpeg, image/jpg">
    </header>
    <section>
        <div class="top">
            <div id="black-card" class="card card--black">
                <span class="card__text">
                    Something something <span class='pick'>____</span>.
                </span>
                <div class="card__pack">
                    <img><span>Cards Against Humanity</span>
                </div>
            </div>
            <div class="top-cards"></div>
            <div class="choices"></div>
        </div>
    </section>
    <section>
        <div class="control-btns">
            <button id="open-packs-modal" class="active">Start</button>
            <button id="submit-btn">Submit</button>
            <button id="choose-btn">Choose</button>
        </div>
    </section>
    <section>
        <ul class="users"></ul>
    </section>
    <section>
        <div class="hand">
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
            <div class="hand__card-wrapper">
                <div class="card card--white">
                    -
                    <div class="card__pack">
                        <img><span>Cards Against Humanity</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="packs-modal">
        <div class="packs-modal__content">
            <h1>Choose Packs:</h1>
            <div class="packs-modal__packs">
                {%for i, watermark, pack in packs%}
                {%if i == 0%}
                <div data-watermark="{{watermark}}" class="packs-modal__pack active">
                    {%else%}
                    <div data-watermark="{{watermark}}" class="packs-modal__pack">
                        {%endif%}
                        <img class="packs-modal__pack__icon" src='{{pack["icon"]}}' alt='{{pack["name"]}}'>
                        <div class="packs-modal__pack__name">{{pack["name"]}}</div>
                    </div>
                    {%endfor%}
                </div>
                <div class="packs-modal__buttons">
                    <button id="packs-modal__check-all">Check all</button>
                    <button id="packs-modal__uncheck-all">Uncheck all</button>
                    <div style="flex-grow: 1;"></div>
                    <button id="packs-modal__start">Start</button>
                </div>
            </div>
        </div>
</body>

</html>
