@use "@/styles/colors" as colors;

$xxs: 600px;
$xs: 768px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

@mixin xxs {
  @media (max-width: $xxs) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin section-border() {
  border-style: solid;
  border-color: colors.$darkgray;
  border-width: 1px 0;
}
