@use "./colors" as colors;

:root {
  font-family: Helvetica, Arial, sans-serif;

  color-scheme: dark;
  background-color: colors.$main-bg;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: colors.$text;
}

* {
  box-sizing: border-box;
}

svg,
img {
  vertical-align: middle;
}

button,
input,
textarea {
  appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
  font-family: inherit;
}

button:disabled {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 16px;
}

.v-popper__arrow-container {
  display: none;
}

.v-popper--theme-dropdown .v-popper__inner {
  border: none;
}
